<!DOCTYPE html>
<html>
  <head>
    <title>Election Data: Home</title>
  </head>
  <body>
    <a href="/"><h1>Election Data</h1></a>
    <div>
      <a href="/parties/">List of political parties</a>
    <div>
    <div>
      <a href="/candidates/">List of candidates</a>
    <div>
  </body>
</html>
