<!DOCTYPE html>
<html>
  <head>
    <title>Election Data</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="display"></div>
    <button id="candidates-button" class="toggle" type="button">View candidates</button>
    <button id="parties-button" class="toggle" type="button">View parties</button>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script>
var loaded = null;
function load(path) {
  if (path === "/") { path = "/parties/"; }
  if (path === loaded) { return; }
  $.get(path, function (data) {
    if (loaded !== null) {
      history.pushState(null, "", path); 
    }
    loaded = path;
    $('#display').html(data);
    $('.toggle').toggle();
    $("a").click(onLinkClick);
    $("form").submit(onFormSubmit);
  });
}
function onPopState(e) {
  load(window.location.pathname);
}
window.onpopstate = onPopState;
function onLinkClick(click) {
  click.preventDefault();
  load($(this).attr('href'));
}
function onFormSubmit(submit) {
  submit.preventDefault();
  var form = $(this);
  var o = { 
    url: form.attr('action'),
    type: form.attr('method'),
    data: form.serialize(),
    success: function(data, status, xhr) {
      if (status == 'success') {
        load(xhr.getResponseHeader('Location'));
      } else {
        $('#display').html('<span class="error">Hmmm... something broke.</span>');
      } 
    }
  };
  if (o.type == 'put' && 'item[id]' in this.elements) {
    o.url += this.elements['item[id]'].value;
    o.data = o.data.split('&').slice(1).join('&');
  }
  $.ajax(o);
}
load(window.location.pathname);
$('#parties-button').click(function() { load('/parties/'); });
$('#candidates-button').hide().click(function() { load('/candidates/'); });
    </script>
  </body>
</html>
