<!DOCTYPE html>
<html>
  <head>
    <title>Election Data: Parties</title>
  </head>
  <body>
    <a href="/"><h1>Election Data</h1></a>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a href="/parties/<%=item._id%>"><%=item.name%></a></li>
      <% }); %>
    </ul>
    <div>
      <div>Add a new political party</div>
      <form id="create-party" method="post" action="/parties/"
            onsubmit="this.action = this.action + this.elements.id;">
        <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <p>
          <label>Party ID (lowercase letters only, no spaces): 
            <input name="id" type="text" pattern="[a-z]+" required
                   placeholder="green">
          </label>
        </p>
        <p>
          <label>Party name: 
            <input name="name" type="text" required
                   placeholder="The Green Party">
          </label>
        </p>
        <p>
          <label>Party description:
            <textarea name="description"
                      placeholder="The Green Party of the United States of America emphasizes environmentalism, non-hierarchical participatory democracy, social justice, respect for diversity, peace and nonviolence.">
          </label>
        </p>
      </form>
    </div>
  </body>
</html>
